[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
mysql-connector-python = "*"
flask-cors = "*"
requests = "*"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.10"
